---
- name: Remove host from load balancer service group
  netscaler.adc.servicegroup_servicegroupmember_binding:
    nsip: "{{ nsip }}"
    nitro_user: "{{ nitro_user }}"
    nitro_pass: "{{ nitro_pass }}"
    servicegroupname: service-group-https
    servername: "{{ inventory_hostname }}"
    port: 443
    state: absent
    validate_certs: false
  delegate_to: localhost

- name: Remove server
  netscaler.adc.server:
    nsip: "{{ nsip }}"
    nitro_user: "{{ nitro_user }}"
    nitro_pass: "{{ nitro_pass }}"
    state: absent
    name: "{{ inventory_hostname }}"
    validate_certs: false
  delegate_to: localhost
